### Print no. of matches won by each team based on year wise (each year as one column)

In [66]:
import pandas as pd
import numpy as np

def matcheswon(filename):
    df=pd.read_csv(filename)
    winners=[]
    years=[]
    p=[]
    category=[]
    dictionary={}
    my_dict =collections.defaultdict(list)
    for row in df.values:
        winners.append(row[10])
        years.append(row[5])
    year=[]
    
    year=np.unique(years)
    for k,v in zip(winners,years):        
        my_dict[k].append(v)
    #print(my_dict)  
    for x in my_dict.keys():
        a=my_dict[x]
        count1=[]
        for y in year:
            count=0
            for i in range(len(a)):
                if y==a[i]:
                    count=count+1
            count1.append(count)
        my_dict[x]=count1
    df1=pd.DataFrame(columns=['2008','2009','2010','2011','2012','2013','2014','2015','2016','2017'])
    for x in my_dict.keys():
        df1.loc[len(df1)]=my_dict[x]
    df1['teams']=my_dict.keys()
    
    return df1

matcheswon('DataFiles/Match.csv')

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,teams
0,6,3,7,8,12,6,11,7,8,9,Kolkata Knight Riders
1,9,8,9,11,10,12,10,10,0,0,Chennai Super Kings
2,7,10,7,4,11,3,2,5,7,6,Delhi Daredevils
3,4,9,8,10,8,9,5,8,9,3,Royal Challengers Bangalore
4,13,6,6,6,7,11,7,7,0,0,Rajasthan Royals
5,10,7,4,7,8,8,12,3,4,7,Kings XI Punjab
6,2,9,8,6,4,0,0,0,0,0,Deccan Chargers
7,7,5,11,10,10,13,7,10,7,11,Mumbai Indians
8,0,0,0,4,4,4,0,0,0,0,Pune Warriors
9,0,0,0,6,0,0,0,0,0,0,Kochi Tuskers Kerala
10,0,0,0,1,0,0,0,2,0,0,NaN
11,0,0,0,0,0,10,6,7,11,8,Sunrisers Hyderabad
12,0,0,0,0,0,0,0,0,5,10,Rising Pune Supergiants
13,0,0,0,0,0,0,0,0,9,4,Gujarat Lions
14,0,0,0,0,0,0,0,0,0,1,abandoned
15,0,0,0,0,0,0,0,0,0,1,tied

In [1]:
import pandas as pd
import numpy as np
def matchwonfunction(filename):
    df=pd.read_csv(filename)
    a=df.groupby(['match_winner','Season_Year']).match_winner.count()
    a=a.unstack(level=1).fillna('0')
    return a
matchwonfunction('DataFiles/Match.csv')

Season_Year                 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
match_winner
Deccan Chargers                2    9    8    6    4    0    0    0    0    0
Delhi Daredevils               7   10    7    4   11    3    2    5    7    6
Gujarat Lions                  0    0    0    0    0    0    0    0    9    4
Kings XI Punjab               10    7    4    7    8    8   12    3    4    7
Kochi Tuskers Kerala           0    0    0    6    0    0    0    0    0    0
Kolkata Knight Riders          6    3    7    8   12    6   11    7    8    9
Mumbai Indians                 7    5   11   10   10   13    7   10    7   11
Pune Warriors                  0    0    0    4    4    4    0    0    0    0
Rajasthan Royals              13    6    6    6    7   11    7    7    0    0
Rising Pune Supergiants        0    0    0    0    0    0    0    0    5   10
Royal Challengers Bangalore    4    9    8   10    8    9    5    8    9    3
Sunrisers Hyderabad            0    0    0    0    0   10    6    7   11    8
abandoned                      0    0    0    0    0    0    0    0    0    1
tied                           0    0    0    0    0    0    0    0    0    1

### Print  ManOfMach count of each player in  Hyderabad stadium

In [1]:
import pandas as pd
import numpy as np
def manofmatch(filename):
    df=pd.read_csv(filename)
    mem=[]
    manofmatch=[]
    for row in df.values:
        if(row[7]=='Hyderabad'):
            mem.append(row[14])
    manofmatch,counts=np.unique(mem,return_counts=True) 
    list={"Player":manofmatch,"ManOfMatchCounts":counts}
    df1=pd.DataFrame(list)
    return df1
manofmatch('DataFiles/Match.csv')

               Player  ManOfMatchCounts
0            A Mishra                 2
1            AB Dinda                 1
2           AT Rayudu                 1
3             B Kumar                 1
4           CH Morris                 1
5           DA Warner                 6
6            DJ Bravo                 1
7           DJG Sammy                 1
8            DW Steyn                 3
9           G Gambhir                 1
10          GH Vihari                 2
11           I Sharma                 1
12     MJ McClenaghan                 1
13           MR Marsh                 1
14      Mandeep Singh                 1
15  Mustafizur Rahman                 1
16           PA Patel                 1
17        PC Valthaty                 1
18      R Vinay Kumar                 1
19         SC Ganguly                 1
20           SE Marsh                 1
21         SK Trivedi                 1
22         SL Malinga                 1
23           UT Yadav                 1
24            V Kohli                 1
25           V Sehwag                 2
26            WP Saha                 1
27          YK Pathan                 2

 ### Print number of matches won and loss(as two columns). Consider as win when a team wins Toss  and Match . print for each and every team

In [59]:
import pandas as pd
import numpy as np
def winloss(filename):
    df=pd.read_csv(filename)
    teams=[]
    t=[]
    for row in df.values:
        t.append(row[9])
    teams=np.unique(t)    
    winlist=[]
    losslist=[]
    for i in teams:
        wc=0
        lc=0
        for row in df.values:
            if(i==row[9]) and (i==row[10]) :
                wc=wc+1
            elif(row[2]==i or row[3]==i):
                lc=lc+1
        losslist.append(lc)
        winlist.append(wc)
    data={'teams':teams,"win":winlist,'loss':losslist}      
    df1=pd.DataFrame(data)
    return df1
winloss('DataFiles/Match.csv')

                          teams  win  loss
0           Chennai Super Kings   42    89
1               Deccan Chargers   19    56
2              Delhi Daredevils   33   114
3                 Gujarat Lions   10    20
4               Kings XI Punjab   28   120
5          Kochi Tuskers Kerala    4    10
6         Kolkata Knight Riders   44   104
7                Mumbai Indians   48   109
8                 Pune Warriors    3    43
9              Rajasthan Royals   34    84
10       Rising Pune Supergiant    0     0
11      Rising Pune Supergiants    7    23
12  Royal Challengers Bangalore   35   118
13          Sunrisers Hyderabad   17    60
14                          nan    0     0